@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.navbar-nav .nav-item .nav-link {
  padding-right: 14px;
  color: #401811;
  font-size: 15px;
  font-weight: 400;
}
.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-item:hover .nav-link {
  color: rgb(32, 147, 214);
}

.judul {
  font-weight: bold;
  font-size: 25px;
  color: #0c0d36;
}

.garis {
  margin-top: -5px;
  background-color: #00335e;
  border: 5px solid #00335e;
}

.profil {
  border-radius: 23px;
  background-color: #00335e;
  color: white;
}

.title-profil h5 {
  font-weight: 600;
  font-size: 24px;
}

.detail-profil p {
  font-size: 13px;
}

.icon {
  padding-right: 15px !important;
}

.contact-title {
  font-size: 15px;
  line-height: 30px;

  color: #3c96e2;
}

.list-contact {
  margin-top: 100px;
}
